<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting :: common_head}"></head>
<body>
<div class="container">
  <h1>備品登録</h1>
  <div class="row">
    <div class="col-md-12">
      <form action="" method="post" th:object="${item}">
        <table class="table table-bordered">
          <tr>
            <th class="w-100px"><label for="formName">品名</label></th>
            <td><input th:field="*{name}" type="text" id="formName" class="form-control"></td>
          </tr>
          <tr>
            <th class="w-100px"><label for="formAmount">総量</label></th>
            <td><input  th:field="*{amount}" type="number" id="formAmount" min="0" max="999" step="1" class="form-control"></td>
          </tr>
          <tr>
            <th class="w-100px"><label for="formDate">購入日</label></th>
            <td><input th:field="*{purchasedAt}" type="date" id="formDate" class="form-control"></td>
          </tr>
          <tr>
            <th class="w-100px"><label for="formNote">備考</label></th>
            <td>
              <textarea th:field="*{note}" name="note" id="formNote" class="form-control"></textarea>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <input type="submit" class="btn btn-primary" value="登録">
              <button class="btn btn-default" id="back">キャンセル</button>
            </th>
          </tr>
        </table>
      </form>
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<script th:replace="~{parts/setting :: common_js}"></script>
<script>
// ブラウザバック
$(document).ready(function(){
  $('#back').click(function(){
    window.history.back();
    return false;
  });
});
</script>
</body>
</html>
