<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting :: common_head}"></head>
<body>
<div class="container">
  <div class="d-flex justify-content-between">
    <h1>備品リスト</h1>
    <div class="mt-4">
      <span class="fz-200">山田太郎</span>さん
      [ <a href="login.html">ログアウト</a> ]
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a th:href="@{/admin/add}" class="btn btn-primary mt-2 mb-2">備品の追加</a>
      <table class="table table-bordered">
        <tr>
          <th>品名</th>
          <th>総量</th>
          <th>購入日</th>
          <th>備考</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
        <tr th:each="item : ${itemList}">
          <td th:text="${item.name}"></td>
          <td th:text="${item.amount}"></td>
          <td th:text="${#dates.format(item.purchasedAt, 'yyyy年MM月dd日')}"></td>
          <td th:text="${item.note}"></td>
          <td><a th:href="@{/admin/edit(id=${item.id})}" class="btn btn-warning">編集</a></td>
          <td><a th:href="@{/admin/delete(id=${item.id})}" class="btn btn-danger">削除</a></td>
        </tr>
      </table>

      <!--/* ページ番号 */-->
      <!--/* 2ページ以上の場合に表示 */-->
      <nav th:if="${totalPages >= 2}">
        <ul class="pagination">
          <!--/* 前のページへ */-->
          <th:block th:switch="${page}">
	          <li th:case="1" class="disabled">
	            <a href="" aria-label="前のページへ">
	              <span aria-hidden="true">«</span>
	            </a>
	          </li>
	          <li th:case="*">
	            <a th:href="@{/admin(page=${page - 1})}" aria-label="前のページへ">
	              <span aria-hidden="true">«</span>
	            </a>
	          </li>
          </th:block>

          <!--/* 各ページ */-->
          <th:block th:each="index : ${#numbers.sequence(1, totalPages)}">
	          <th:block th:switch="${index}">
	              <li th:case="${page}" class="active">
	                  <a href="" th:text="${index}"></a>
	              </li>
	              <li th:case="*">
	                  <a th:href="@{/admin(page=${index})}" th:text="${index}"></a>
	              </li>
	          </th:block>
          </th:block>


          <!--/* 次のページへ */-->
          <th:block th:switch="${page}">
              <li th:case="${totalPages}" class="disabled">
                <a href="" aria-label="次のページへ">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
              <li th:case="*">
                <a th:href="@{/admin(page=${page + 1})}" aria-label="次のページへ">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
          </th:block>
        </ul>
      </nav>

    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<script th:replace="~{parts/setting :: common_js}"></script>
<script>
$(document).ready(function(){
  // 削除操作の確認
  $('.btn.btn-danger').click(function(){
    return confirm('本当に削除しますか？');
  });
});
</script>
</body>
</html>
