<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<title>備品管理システム</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default mt-5">
        <div class="panel-heading">備品管理システム ログイン</div>
        <div class="panel-body">

          <!-- ↓↓エラーメッセージがある場合↓↓ -->
          <div class="alert alert-danger">
            ログインIDかパスワードが正しくありません。
          </div>
          <!-- ↑↑エラーメッセージがある場合↑↑ -->

          <form action="index.html">
            <div class="form-group">
              <input type="text" name="loginId" placeholder="ログインID" class="form-control" />
            </div>
            <div class="form-group">
              <input type="password" name="loginPass" placeholder="パスワード" class="form-control" />
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="ログイン" />
            </div>
          </form>

        </div><!-- /.panel-body -->
      </div><!-- /.panel.panel-default.mt-5 -->
    </div><!-- /.col-md-offset-3.col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
