<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting :: common_head}"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default mt-5">
        <div class="panel-heading">備品管理システム ログイン</div>
        <div class="panel-body">

          <th:block th:object="${admin}">
            <div th:errors="*{loginId}" class="alert alert-danger"></div>
            <div th:errors="*{loginPass}" class="alert alert-danger"></div>
          </th:block>

          <form action="" method="post" th:object="${admin}">
            <div class="form-group">
              <input th:field="*{loginId}" type="text" placeholder="ログインID" class="form-control" />
            </div>
            <div class="form-group">
              <input th:field="*{loginPass}" type="password" placeholder="パスワード" class="form-control" />
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="ログイン" />
            </div>
          </form>

        </div><!-- /.panel-body -->
      </div><!-- /.panel.panel-default.mt-5 -->
    </div><!-- /.col-md-offset-3.col-md-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<script th:replace="~{parts/setting :: common_js}"></script>
</body>
</html>
