<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/setting :: common_head}"></head>
<body>
<div class="container">
  <div class="d-flex justify-content-between">
    <h1 th:text="${item.name}"></h1>
    <div th:replace="~{parts/navigation :: admin_login}"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <dl class="fz-200 d-flex">
        <dt class="w-100px">購入日</dt>
        <dd th:text="${#dates.format(item.purchasedAt, 'yyyy年MM月dd日')}"></dd>
      </dl>
      <dl class="fz-200 d-flex">
        <dt class="w-100px">備考</dt>
        <dd th:text="${item.note}"></dd>
      </dl>
      <dl>
        <dt class="fz-200 mb-1">配置</dt>
        <dd>
          <span class="fz-200" th:if="${item.amount} <= 0" th:text="在庫はありません。"></span>
          <table th:if="${item.amount} > 0" class="table table-bordered w-300px">
            <tr>
              <th>場所</th>
              <th>数量</th>
            </tr>
            <th:blcok th:each="placement : ${item.placementList}">
            <tr th:if="${placement.room.name} != '倉庫' OR ${placement.amount} != 0">
              <td th:text="${placement.room.name}"></td>
              <td th:text="${placement.amount}"></td>
            </tr>
            </th:blcok>
            <tr class="total">
              <td>合計</td>
              <td th:text="${item.amount}"></td>
            </tr>
          </table>
        </dd>
      </dl>
      <button class="btn btn-primary" id="back">戻る</button>
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<script th:replace="~{parts/setting :: common_js}"></script>
<script>
// ブラウザバック
$(document).ready(function(){
  $('#back').click(function(){
    window.history.back();
    return false;
  });
});
</script>
</body>
</html>
